div.btn-wrap {
  margin-bottom: 20px;
}

h1 span {
  float: right;
  position: relative;
  bottom: 5px;
  font-size: 26px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(0,91,187,0.15);
}

p.form-element {
  margin: 40px 0 40px 0;
}

button {
  display: block;
  margin-bottom: 15px;
  border-radius: 5px;
  line-height: 30px;
  padding: 15px;
  border: none;
  color: #FFF;
  background: #005BBB;
  font-size: 28px;
  font-weight: 700;
  transition: 0.3s;
}

button:last-child {
  margin-bottom: 0;
}

button:hover {
  background: #ffd500;
  color: #005bbb;
  cursor: pointer;
}

button:disabled, button[disabled] {
  opacity: 0.4;
}

button:disabled:hover, button[disabled]:hover {
  background: #005BBB;
  color: #FFF;
  cursor: default;
}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  line-height: 30px;
  font-size: 28px;
  border: none;
  background: #D1D8E5;
}

::placeholder {
  color: #808080;
  opacity: 1;
}

ul.item-list, ul.file-list {
  margin: 20px 0 20px 0;
  padding: 0;
  list-style-type: none;
}

ul.file-list {
  margin-bottom: 0;
}

ul.item-list li {
  margin-bottom: 15px;
  border-radius: 5px;
  line-height: 30px;
  height: 30px;
  padding: 15px;
  border: none;
  color: #000;
  background: #E6E6E6;
  font-size: 28px;
  font-weight: 700;
  transition: 0.3s;
}

ul.item-list.nohover li:hover {
  background: transparent;
}

ul.item-list.direction li {
  background: #005BBB;
  color: #FFF;
}

ul.item-list li.high-priority {
  background-color: #e98f8f;
}

ul.item-list li:hover,
ul.item-list li.selected {
  background: #ffd500;
  color: #005bbb;
  cursor: pointer;
}

ul.item-list li:last-child {
  margin-bottom: 0;
}

ul.item-list.recipients li {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  height: auto;
}

ul.item-list.recipients li img {
  height: 100%;
  max-width: 70px;
}

ul.item-list.recipients li span > span.name {
  display: block;
  margin-bottom: 8px;
  font-size: 20pt;
  font-weight: 700;
}

ul.item-list.recipients li span > span.warehouse {
  display: block;
  font-weight: 300;
  font-size: 12pt;
  line-height: 12pt;
}

ul.item-list.recipients li span > span.warehouse strong {
  font-weight: 700;
}

ul.item-list.recipients li span > span.tagline {
  display: inline-block;
  margin-top: 10px;
  font-weight: 300;
  font-size: 14pt;
  line-height: 20pt;
}

ul.file-list li {
  padding: 10px 0;
}

ul.file-list li > span {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  h1 span {
    background-color: #14181D;
  }

  button {
    background: #005BBB;
    color: #FFF;
  }

  button:disabled:hover,
  button[disabled]:hover {
    background: #fff;
    color: #005bbb;
    cursor: default;
  }

  input[type="text"] {
    background: #e8f0fe;
    color: #000;
  }

  ::placeholder {
    color: #808080;
    opacity: 1;
  }

  ul.item-list li {
    background: #7a7e83;
    color: #fff;
  }
}

div.address-text {
  white-space: pre-wrap;
  background-color: #efecec;
  padding: 15px;
}

div.screenshot-item {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
  line-height: 30px;
  font-size: 28px;
  border: none;
  background: #d1d8e5;
  margin-bottom: 15px;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-template-columns: min-content;
  align-items: center;
  min-height: 100px;
}

div.screenshot-item img {
  max-width: 100px;
  margin-right: 20px;
  border-radius: 4px;
}

div.screenshot-item .screenshot-title {
  color: #000;
  user-select: none;
  font-size: 22px;
  margin-right: 10px;
}

div.screenshot-item .screenshot-remove-wrap {
  text-align: right;
}

div.screenshot-item .screenshot-remove {
  color: red;
  cursor: pointer;
  user-select: none;
  font-size: 30px;
  font-weight: 100;
  padding: 2px;
}

@media (prefers-color-scheme: dark) {
  h1 span {
    background-color: rgba(0, 91, 187, 0.3);
  }

  button {
    background: #005bbb;
    color: #fff;
  }

  button:disabled:hover,
  button[disabled]:hover {
    background: #fff;
    color: #005bbb;
    cursor: default;
  }

  input[type="text"] {
    background: #e8f0fe;
    color: #000;
  }

  ::placeholder {
    color: #808080;
    opacity: 1;
  }

  ul.item-list li {
    background: #7a7e83;
    color: #fff;
  }
}
