<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/base.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medicine for Ukraine</title>
  </head>

  <body>
    <div id="root">
      <div>
        <header>
          <div class="container">
            <a href="https://medicineforukraine.org">
              <picture>
                  <source srcset="img/animated-dark.svg" media="(prefers-color-scheme: dark)">
                  <img src="img/animated.svg" alt="Medicine for Ukraine" />
              </picture>
            </a>
            <div class="links-container">
              <ul class="links">
                <li><a href="#">Donate Now</a></li>
                <li><a href="#">About</a></li>
              </ul>
              <ul class="languages">
                <!-- Language Links -->
                <li><a href="#" class="multilingual-selector selected" data-language="EN" class="selected">EN</a></li>
                <li><a href="#" class="multilingual-selector" data-language="ES">ES</a></li>
                <li><a href="#" class="multilingual-selector" data-language="PL">PL</a></li>
              </ul>
            </div>
          </div>
        </header>
        <main>
          <div class="container">

            <!-- About Page -->
            <h1>About Us</h1>

            <p>
                We're a group of volunteers who are working to get medicial supplies to those who need it in Ukraine.
            </p>

            <h2>Collaborators</h2>

            <p>
              This is the team, and we are thrilled to be working on this project together!
            </p>

            <ul class="about-contributors">
              <li>
                <img src="img/collaborators/placeholder.svg" alt="David Maxwell" />
                <span>
                  <span class="name"><a href="https://www.dmax.org.uk/" target="_blank">David Maxwell</a> 🏴󠁧󠁢󠁳󠁣󠁴󠁿</span>
                  <span class="blurb">This is some text about the person. This is some text about the person. This is some text about the person. This is some text about the person.</span>
                  <ul class="personal-links">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                  </ul>
                </span>
              </li>
              <li>
                <img src="img/collaborators/placeholder.svg" alt="David Maxwell" />
                <span>
                  <span class="name">Svitlana Vakulenko 🇺🇦</span>
                  <span class="blurb">This is some text about the person.</span>
                </span>
              </li>
              <li>
                <img src="img/collaborators/placeholder.svg" alt="David Maxwell" />
                <span>
                  <span class="name">Nataliia Diedyk 🇺🇦</span>
                  <span class="blurb">This is some text about the person. This is some text about the person.</span>
                </span>
              </li>
              <li>
                <img src="img/collaborators/placeholder.svg" alt="David Maxwell" />
                <span>
                  <span class="name">Dmytro 🇺🇦</span>
                  <span class="blurb">This is some text about the person.</span>
                </span>
              </li>
              <li>
                <img src="img/collaborators/placeholder.svg" alt="David Maxwell" />
                <span>
                  <span class="name">Dmytro 🇺🇦</span>
                  <span class="blurb">This is some text about the person. This is some text about the person. This is some text about the person. This is some text about the person.</span>
                </span>
              </li>
              <li>
                <img src="img/collaborators/placeholder.svg" alt="David Maxwell" />
                <span>
                  <span class="name">Collaborator 🇺🇦</span>
                  <span class="blurb">This is some text about the person. This is some text about the person. This is some text about the person. This is some text about the person.</span>
                </span>
              </li>
            </p>


          </div>
        </main>

        <footer>
          <div class="container">
            <div class="left">
              <span class="header">&copy; Medicine for Ukraine, 2022.</span>
              <span>Medicine for Ukraine is run by a <a href="#">group of volunteers</a> that want to help.
              We get medicine and supplies to those who need it the most.</span>
            </div>
            <div class="right">
              <ul>
                <li><a href="https://www.instagram.com/medhelpua/" class="instagram" target="_blank"><span>Sample Link</span></a></li>
                <li><a href="https://www.instagram.com/hospitallers.ukraine_paramedic/" class="instagram" target="_blank"><span>Another Sample</span></a></li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <script type="text/javascript" src="js/multilingual.js"></script>
  </body>
</html>
