<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/request.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medicine for Ukraine/Медицина для України</title>
  </head>

  <body>
    <header>
        <div class="progress step2"></div>
        <div class="container">
            <a href="https://medicineforukraine.org">
            <picture>
                <source srcset="img/animated-dark.svg" media="(prefers-color-scheme: dark)">
                <img src="img/animated.svg" alt="Medicine for Ukraine" />
            </picture>
            </a>
            <div class="links-container">
            <!-- <ul class="links">
                <li><a href="#">Donate Now</a></li>
                <li><a href="#">About</a></li>
            </ul> -->
            <ul class="languages">
                <!-- Language Links -->
                <li><a href="#" class="multilingual-selector selected" data-language="EN" class="selected">EN</a></li>
                <li><a href="#" class="multilingual-selector" data-language="ES">ES</a></li>
                <li><a href="#" class="multilingual-selector" data-language="PL">PL</a></li>
            </ul>
            </div>
        </div>
    </header>
    <main>
      <div class="container">




        <!-- English -->
        <h1 class="multilingual en">
            Where do you want to send items to?
            <span>2/9</span>
        </h1>

        <p class="multilingual en">
            We currently have volunteers ready to receive items in the following countries. Select a country that you can pay for items in to continue.
        </p>

        <ul class="item-list countries">
            <li><img src="img/flags/es.svg" alt="Flag of Spain" /><span>España</span></li>
            <li><img src="img/flags/pl.svg" alt="Flag of Poland" /><span>Polska</span></li>
        </ul>

        <p class="multilingual en">
          Select the country you wish to send items to, and click/tap continue.
        </p>

        <p class="direction">
          <button>Continue</button>
        </p>





      </div>
    </main>

    <script type="text/javascript" src="js/multilingual.js"></script>
  </body>
</html>
