<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/request.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medicine for Ukraine/Медицина для України</title>
  </head>

  <body>
    <header>
        <div class="progress step1"></div>
        <div class="container">
            <a href="https://medicineforukraine.org">
            <picture>
                <source srcset="img/animated-dark.svg" media="(prefers-color-scheme: dark)">
                <img src="img/animated.svg" alt="Medicine for Ukraine" />
            </picture>
            </a>
            <div class="links-container">
            <!-- <ul class="links">
                <li><a href="#">Donate Now</a></li>
                <li><a href="#">About</a></li>
            </ul> -->
            <ul class="languages">
                <!-- Language Links -->
                <li><a href="#" class="multilingual-selector selected" data-language="EN" class="selected">EN</a></li>
                <li><a href="#" class="multilingual-selector" data-language="ES">ES</a></li>
                <li><a href="#" class="multilingual-selector" data-language="PL">PL</a></li>
            </ul>
            </div>
        </div>
    </header>
    <main>
      <div class="container">




        <!-- English -->
        <h1 class="multilingual en">
            Яка ваша адреса електронної пошти?
            <span>1/9</span>
        </h1>

        <p class="multilingual en">
            We use your e-mail address to keep track of what has been ordered. Please enter your e-mail address in the box below.
        </p>
        <p>
            If you would prefer to remain anonymous, <a href="#">please create a new address instead</a> and use that.
        </p>
        <p class="form-element">
            <input type="text" id="email" placeholder="Enter your e-mail address here" />
        </p>

        <p class="direction">
            <button>Continue</button>
        </p>





      </div>
    </main>

    <script type="text/javascript" src="js/multilingual.js"></script>
  </body>
</html>
