.loader {
  text-align: center;
}

.loader > div {
  display: inline-block;
  width: 150px;
  height: 150px;
}

.loader > div:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  border: 20px solid #005BBB;
  border-color: #005BBB transparent #005BBB transparent;
  animation: loader-ring 1.2s linear infinite;
}

.loader > span {
  display: block;
  margin-top: 20px;
  font-size: 16pt;
  font-weight: bold;
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: dark) {

  .loader > div:after {
    border: 20px solid #FFD500;
    border-color: #FFD500 transparent #FFD500 transparent;
  }

}