        <header>
            <div class="container">
                <a href="https://medicineforukraine.org/">
                    <picture>
                        <source srcset="{{ STATIC_URL }}img/animated-dark.svg" media="(prefers-color-scheme: dark)">
                        <img src="{{ STATIC_URL }}img/animated.svg" alt="{{ SITENAME }}" />
                    </picture>
                </a>
                <div class="links-container">
                    {% if SITELINKS and page.showlinks == 'yes' %}
                    <ul class="links">
                        {% for link in SITELINKS %}
                        {% if link.ID|lower == 'about' %}
                        <li><a href="{{ SITEURL_ABSOLUTE }}about/">{{ link.TEXT }}</a></li>
                        {% elif link.ID|lower == 'request' %}
                        <li><a href="{{ ROOT_URL }}request/">{{ link.TEXT }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <ul class="languages">
                        {% for language in I18N_SUBSITES %}
                        {% if language|upper == DEFAULT_LANG|upper %}
                        <li><a class="multilingual-selector selected" class="selected" data-language="{{ language|lower }}">{{ language|upper }}</a></li>
                        {% else %}
                        <li><a href="{{ ROOT_URL | switch_language_link(language, output_file) }}" class="multilingual-selector" data-language="{{ language|lower }}">{{ language|upper }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </header>