<footer>
    <div class="container">
        <div class="left">
            <span class="header">&copy; Medicine for Ukraine, 2022.</span>
            <span>Medicine for Ukraine wird von einer Gruppe Freiwilliger betrieben, die helfen wollen.
            Wir versorgen diejenigen mit Medikamenten und Hilfsgütern, die sie am dringendsten benötigen.</span>
        </div>
        <div class="right">
            <ul>
                <li><a href="https://www.instagram.com/medhelpua/" class="instagram" target="_blank"><span>medhelpua</span></a></li>
                <li><a href="https://www.instagram.com/hospitallers.ukraine_paramedic/" class="instagram" target="_blank"><span>hospitallers.ukraine_paramedic</span></a></li>
            </ul>
        </div>
    </div>
</footer>