<footer>
    <div class="container">
        <div class="left">
            <span class="header">&copy; Medycyna dla Ukrainy, 2022.</span>
            <span>Medycyna dla Ukrainy jest rządzona przez <a href="{{ SITEURL_ABSOLUTE }}about/">grupę wolontariuszy</a> którzy chcą pomoc.
            We get medicine and supplies to those who need it the most.</span>
        </div>
        <div class="right">
            <ul>
                <li><a href="https://www.instagram.com/medhelpua/" class="instagram" target="_blank"><span>medhelpua</span></a></li>
                <li><a href="https://www.instagram.com/hospitallers.ukraine_paramedic/" class="instagram" target="_blank"><span>hospitallers.ukraine_paramedic</span></a></li>
            </ul>
        </div>
    </div>
</footer>
