<footer>
    <div class="container">
        <div class="left">
            <span class="header">&copy; Медицина для України, 2022.</span>
            <span>Медицина для України - це <a href="{{ SITEURL_ABSOLUTE }}about/">група волонтерів</a> які хочуть допомогти.
                Ми передаємо ліки та товари тим, хто їх найбільше потребує.</span>
        </div>
        <div class="right">
            <ul>
                <li><a href="https://www.instagram.com/medhelpua/" class="instagram" target="_blank"><span>medhelpua</span></a></li>
                <li><a href="https://www.instagram.com/hospitallers.ukraine_paramedic/" class="instagram" target="_blank"><span>hospitallers.ukraine_paramedic</span></a></li>
            </ul>
        </div>
    </div>
</footer>