html,
body,
#root {
  height: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 14pt;
  line-height: 20pt;
  margin: 0;
}

.app-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

header {
  width: 100%;
  border-top: 5px solid #005bbb;
  box-sizing: border-box;
  background-color: #ffffff;
  height: 111px;
}

a {
  color: #005bbb;
  transition: 0.3s;
}

a:hover {
  color: #bb6000;
}

button a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 30pt;
  margin: 0 0 30px 0;
  padding: 0;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  margin: 30px 0 30px 0;
  padding: 0;
}

div.container {
  width: 100%;
  margin-left: 40px;
}

header img {
  width: 300px;
  height: auto;
}

header .flag {
  display: inline-block;
  padding: 20px 0;
}

header ul {
  margin: 0;
  padding: 0;
  float: right;
  list-style-type: none;
  font-size: 0;
}
header ul li {
  display: inline-block;
  margin-right: 8px;
}

header ul li:last-child {
  margin-right: 0;
}

header ul li a,
.multilingual-selector {
  display: block;
  border-radius: 5px;
  font-size: 16pt;
  font-weight: 900;
  color: #fff;
  padding: 5px;
  min-height: 30px;
  min-width: 30px;
  line-height: 30px;
  background: #005bbb;
  text-decoration: none;
}

header ul li a.selected,
.multilingual-selector.selected {
  background: #fff;
  color: #000;
}

header ul li a:hover.selected,
.multilingual-selector:hover.selected {
  background: #fff;
  cursor: default;
}

header ul li a:hover,
.multilingual-selector:hover {
  background: #ffd500;
  color: #bb6000;
  cursor: pointer;
}

main {
  flex: auto;
  margin-top: 35px;
}

.urgent {
  background-color: #ffa8a7;
  color: #000;
  border-radius: 8px;
  padding: 10px;
}

footer {
  background: #e6e6e6;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  color: #333;
}

.footer-container .header {
  display: block;
  font-size: 14pt;
  padding-bottom: 5px;
  line-height: 18pt;
  font-weight: 700;
}

.footer-container .content {
  font-size: 10pt;
  line-height: 14pt;
}

.footer-container .instagram {
  text-decoration: none;
  display: block;
  font-size: 12pt;
  display: flex;
  align-items: center;
  justify-content: end;
}

.instagram .gg-instagram {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  div.container {
    width: 85%;
  }

  .footer-container {
    width: 85%;
  }
}

@media screen and (min-width: 1000px) {
  div.container {
    width: 70%;
  }

  .footer-container {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  div.container {
    width: auto;
    margin: 0 40px 0 40px;
  }
}

@media screen and (max-width: 600px) {
  div.container {
    margin: 0 20px 0 20px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #222831;
  }

  header {
    background: #222831;
  }

  a {
    color: #99bde4;
    transition: 0.3s;
  }

  a:hover {
    color: #e4bf99;
  }

  button a:hover {
    color: #fff;
  }

  .urgent {
    background-color: #ffd369;
    color: #222831;
    border-radius: 8px;
    padding: 10px;
  }

  .urgent a {
    color: #222831;
  }

  .urgent a:hover {
    color: #222831;
  }

  header ul li a,
  .multilingual-selector {
    background: #fff;
    color: #005bbb;
  }

  header ul li a:hover,
  .multilingual-selector:hover {
    background: #ffd500;
    color: #005bbb;
  }

  header ul li a.selected,
  .multilingual-selector.selected {
    background: #222831;
    color: #fff;
  }

  header ul li a:hover.selected,
  .multilingual-selector.selected {
    background: #222831;
    cursor: default;
  }
}
